@font-face {
  font-family: 'iconfont';  /* Project id 3169973 */
  src: url('//at.alicdn.com/t/font_3169973_1eumw1vh2hx.woff2?t=1644655526672') format('woff2'),
       url('//at.alicdn.com/t/font_3169973_1eumw1vh2hx.woff?t=1644655526672') format('woff'),
       url('//at.alicdn.com/t/font_3169973_1eumw1vh2hx.ttf?t=1644655526672') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
